/**
 * General Styles
 */

a.menu:link, a.menu:visited {
	color: #bb8022;
	text-decoration: none;
}
a.menu:hover {
	color: #dfb546;
	cursor: pointer;
	text-decoration: underline;
}
a:link, a:visited {
	color: #0054b4;
	text-decoration: none;
}
a:hover {
	color: #0054b4;
	cursor: pointer;
	text-decoration: underline;
}
body {
	background: #dde3e5 url(../images/headerBG.png) repeat-x left top;
	color: #ffffff;
	font-family: Trebuchet MS, Helvetica, sans-serif;
	font-size: 10pt;
	margin: 0px;
	padding: 0px;
}
.clear {
	display: block;
	clear: both;
}
.contentPane {
	background-color: #fafafa;
	color: #000000;
	padding: 7px 10px 10px 10px;
}
.example {
	background-color: #f4f4fa;
	border-color: #bdc3c5;
	border-style: solid;
	border-width: 1px;
	padding: 5px 3px 5px 3px;
	margin: 4px 10px 4px 10px;
}
.figure {
	font-size: 8pt;
	font-style: italic;
}
#footer {
	color: #505050;
	font-size: 7pt;
	height: 50px;
	margin: 0px auto;
	padding: 10px 0px 0px 0px;
	text-align: center;
}

h1 {
	font-size: 14pt;
}
h2 {
	font-size: 12pt;
}
h3 {
	background-color: #000049;
	color: #ffffff;
	font-size: 11pt;
	padding: 4px;
}
h4 {
	text-decoration: underline;
}

#header {
	height: 90px;
}
#menu {
	height: 22px;
	margin: 0px auto;
	padding: 5px 0px 0px 10px;
}
.notify {
	font-style: italic;
	color: #888888;
}
#outerPosition {
	margin: 0px auto;
	padding: 0px;
}
#page {
	background: #fafafa;
	border-color: #bdc3c5;
	border-style: none solid solid none;
	border-width: 1px;
	margin: 0;
}
