<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="~{shared :: head}"></head>
<body>
<div id="outerPosition">
    <div th:replace="~{shared :: header }"></div>
    <div th:replace="~{shared :: menubar }"></div>
    <div id="contentPane">
        <!--/* ------------------------------------------------- */-->
        <h1>404 Not Found</h1>
        <p>The page you have requested could not be found.</p>
        <!--/* ------------------------------------------------- */-->
        <div class="clear"></div>
    </div>
    <div th:replace="~{shared :: footer }"></div>
</div>
</body>
</html>
